.interface {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 30px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .interface {
      align-content: center;
      margin: 0 auto;
      width: 100%;
      flex-direction: column;
      padding-left: unset;
  }
} 

.controls {
  width: 35%;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .controls {
    width: unset;
    margin: 0 20px 0 20px;
  }
} 

.instructions {
  align-items: center;
  color: white;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 30px;
  line-height: 24px;
  letter-spacing: .5px;
}

p {
  margin: 0;
}

hr {
  margin: 0;
}

@media only screen and (max-width: 768px) {
  hr {
    display: none;
  }
} 

.selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px 15px 0 0;
}

@media only screen and (max-width: 768px) {
  .selection {
    margin: 0 30px 0 0;
  }
} 

.buttons {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .buttons{
    flex-direction: row;
  }
}

button.load-red {
  float: left;
  margin: 0 14px 0 0;
  position: unset;
  border: none;
  border-radius: 8px;
  z-index: unset;
  background-color: red;
  height: 40px;
  width: 60px;
}

button.load-gray {
  float: left;
  margin: 0 14px 0 0;
  position: unset;
  border: none;
  border-radius: 8px;
  z-index: unset;
  background-color: darkgray;
  height: 40px;
  width: 60px;
}

h3 {
  font-size: 22px;
  margin: 0 auto;
  margin-bottom: 14px;
  color: gray;
  letter-spacing: .5px;
}

h4 {
  margin: 0;
  font-size: 17px;
  font-weight: 800;
  letter-spacing: .5px;
  color: white;
}

.logo {
  width: 180px;
  align-self: flex-start;
  margin: 0px 0 30px 0;
}

@media only screen and (max-width: 768px) {
  .logo {
    margin: 30px 0 30px 0;
  }
} 

.message {
  margin: 30px 0 10px 0;
  background-color: chartreuse;
  width: 100%;
  position: relative;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .message {
    align-self: center;
    flex-direction: column;
    margin: 30px 0 30px 0;
  }
} 

.message-text {
  color: black;
  text-align: center;
  position: relative;
  z-index: 1;
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
  line-height: 22px;
  padding: 60px 0 60px 0;
}

.info {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: black;
  z-index: 1;
  text-align: center;
  justify-content: space-between;
}

.count {
  margin: 10px 10px 0 15px;
  text-align: center;
  display: none;
}

.bpm {
  margin: 10px 15px 0 10px;
  text-align: center;
  display: none;
}